
header {
  height: 100vh;
  width: 100%;
  background-image: url(./Images/25.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.my-photo {
  object-fit: cover;
}
.hero-text {
  transform: translate(-50%, -50%);
}
p {
  text-align: justify;
}
.title::after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  height: 3px;
  width: 5rem;
  margin-top: 1rem;
  background: var(--bs-primary);
}